# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.venv/

# Env files
.env
.env.local

# Data
data/
chroma_db/
postgres_data/
roadmap.txt
tips.txt

# Docker
docker-compose.override.yml

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
